@inherits UmbracoViewPage<Product>


@Model.GetPropertyValue("icon")
@*<a href="@product.Url" class="product-grid__item" style="background-image: url('@product.Photos.FirstOrDefault().Url')">
    <div class="product-grid__item__overlay">
        <div class="product-grid__item__name">@product.ProductName</div>
        <div class="product-grid__item__price">@Model.Content.DefaultCurrency @product.Price.ToString("F")</div>
    </div>
</a>*@
